<form (ngSubmit)="deleleuserrol(formaupuserol)" #formaupuserol="ngForm" novalidate>
  <h2 align="center">ELIMINAR VINCULO </h2>
  <br>
<div>
  <mat-form-field appearance="outline">
  <mat-label>USUARIO</mat-label>
   <input matInput placeholder="USUARIO" disabled=true
   name="userId"
    value="data.userId"
   ngModel="{{data.userId}}"
   #userId="ngModel">
   <mat-icon matSuffix>dehaze</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>USUARIO</mat-label>
   <input matInput placeholder="USUARIO" disabled=true
   name="userName"
    value="data.userName"
   ngModel="{{data.userName}}"
   #userName="ngModel">
   <mat-icon matSuffix>dehaze</mat-icon>
  </mat-form-field>


<mat-form-field appearance="outline">
<mat-label>ROL</mat-label>
<input matInput placeholder="ROL" disabled=true
name="authorityId"
value="data.authorityId"
ngModel="{{data.authorityId}}"
#authorityId="ngModel">
<mat-icon matSuffix>person</mat-icon>
 </mat-form-field>

 <mat-form-field appearance="outline">
 <mat-label>ROL</mat-label>
 <input matInput placeholder="ROL" disabled=true
 name="authorityName"
 value="data.authorityName"
 ngModel="{{data.authorityName}}"
 #authorityName="ngModel">
 <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
</div>
<br>
   <mat-checkbox class="example-margin">CONFIRMAR</mat-checkbox>
<br>

<button type="submit" id="guardar" class="btn btn-outline-primary"   mat-button matTooltip ="ELIMINAR VINCULO"
><mat-icon>delete</mat-icon>
</button>

<button id="delete" type="reset" mat-dialog-close class="btn btn-outline-primary" mat-button matTooltip ="SALIR"
><mat-icon>exit_to_app</mat-icon>
</button>


</form>
