  <div class="row">    
      <div class="col-lg-9">            
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                      <i class="fa fa-home" aria-hidden="true"></i>                    
                      <a [routerLink]="" (click)="goHome()"> Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          Ventas</li>
              </ol>
          </nav>
      </div>
      <div class="col-lg-3">
            <button (click)="exportToExcel()"
                    class="btn btn-outline-danger float-right"
                    type="button" name="button">
                    <i class="fa fa-file-excel-o fa-lg"></i>
            </button>
            <button (click)="downloadPDF()"
                    class="btn btn-outline-danger float-right"
                    type="button" name="button">
                    <i class="fa fa-file-pdf-o fa-lg"></i>
            </button>
            <button (click)="browseWhitoutParameters()"
                    class="btn btn-outline-danger float-right"
                    type="button" name="button">
                    <i class="fa fa-search"></i>
            </button>
            <button (click)="showThing()"
                    class="btn btn-outline-danger float-right"
                    type="button" name="button">
                    <i class="fa fa-angle-double-left fa-lg"></i>
            </button> 
        </div>
  </div>

  <div *ngIf="cardFlag" class="card container">
      <div class="card-body">
          <div class="row">
              <div class="col">                     
                  <div class="input-group mb-3">                        

                  <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Canal</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01"
                          [(ngModel)]="selectedChannel" 
                          name="selectedC"
                          (change)="onSelectionChannelChange(selectedChannel)">
                      <option *ngFor="let c of channels" 
                              [ngValue]="c">{{c.description}}</option>
                  </select>
                  </div>
              </div>
              <div class="col">
                  <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Oficina</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect02"
                            [(ngModel)]="selectedOficina" 
                            name="selectedO"
                            (change)="browseParameters()">
                      <option *ngFor="let o of oficinas" 
                              [ngValue]="o">{{o.officeName}}</option>
                    </select>
                  </div>
              </div>
              <div class="col">
                  <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect03">Estado</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect03"
                            [(ngModel)]="selectedEstado" 
                            name="selectedSt"
                            (change)="browseParameters()">
                      <option *ngFor="let s of estados" 
                              [ngValue]="s">{{s.status}}</option>
                    </select>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  <div class="input-group mb-3">                        
                      <div class="input-group-prepend">
                          <label class="input-group-text">F Activ Ini</label>
                      </div>
                      <input class="form-control" placeholder="yyyy-mm-dd"
                              name="dp2" [(ngModel)]="startDate"
                              (ngModelChange)="startDateBrowse($event)" 
                              ngbDatepicker #d2="ngbDatepicker"
                              (change)="browseParameters()">
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                              <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                          </button>
                      </div>
                  </div>    
              </div>
              <div class="col">
                  <div class="input-group mb-3">                        
                      <div class="input-group-prepend">
                          <label class="input-group-text">F Activ Fin</label>
                      </div>
                      <input class="form-control" placeholder="yyyy-mm-dd"
                              name="dp1" [(ngModel)]="endDate"
                              (ngModelChange)="endDateBrowse($event)"
                              ngbDatepicker #d1="ngbDatepicker">
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                              <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                          </button>
                      </div>
                  </div>                      
              </div>
              <div class="col">
                  <div class="input-group mb-3">                        
                      <div class="input-group-prepend">
                          <label class="input-group-text">No. (#)Lote</label>
                      </div>
                      <input [(ngModel)]="lotId"
                             (ngModelChange)="lotIdBrowse($event)"
                             name="lotIden"
                             type="text"
                             class="form-control"
                             placeholder="Número de Lote">
                  </div>
              </div>
          </div>

      </div>
  </div>
  

<div class="table-responsive" id="tablesale">
    <p>{{v_records}} registros</p>
    <p-dataTable [value]="heroes" [sortField]="sortField" [sortOrder]="sortOrder"
                  [paginator]="true" [rows]="5" [pageLinks]="3" 
                  [rowsPerPageOptions]="[5,10,15]" expandableRows="true" class="tableng" #dt>
  
            <p-column expander="true" styleClass="col-icon" [style]="{width:'1px'}">
              <ng-template pTemplate="header">
                  Sec
              </ng-template>  
              <ng-template let-in="rowIndex" pTemplate type="body">
                {{ in+1 }}
              </ng-template>
            </p-column>
            <p-column [style]="{width:'1px'}">
              <ng-template pTemplate="header">
                  Todos
                  <input type="checkbox" name="checkAll" 
                         [(ngModel)]="radioActAll"
                         [checked]="tempi"
                         [disabled]="checkDis" 
                         (change)="onSelectionMarkAll()">
              </ng-template>
              <ng-template let-sale="rowData" let-in="rowIndex" pTemplate type="body">              
                   <input type="checkbox" name="in" [(ngModel)]="radioAct2[in]"
                         [value]="radioAct"
                         [checked]="checkSales[in]"
                         [disabled]="enableSales[in]" 
                         (change)="onSelectionChange(sale,in)" />
              </ng-template>
            </p-column>

           <!-- <p-column header="Signature ??" field="claroSignature" 
                      [style]="{width:'1px'}">
                <ng-template let-rowsig="rowData" pTemplate type="body">
                    {{ rowsig.claroSignature === ''? '': (rowsig.claroSignature === 'S'? 'SI': 'NO') }}
                </ng-template>          
                    </p-column> -->
            <p-column header="Firma del Cliente" field="claroSignature" 
                      [sortable]="true" [style]="{width:'1px'}">
                    </p-column>        
            <p-column header="Carta Autoriza" field="signatureFirstTime" 
                      [style]="{width:'1px'}">
                <ng-template let-rowsig="rowData" pTemplate type="body">
                    {{ rowsig.signatureFirstTime === ''? '': (rowsig.signatureFirstTime === 'S'? 'SI': 'NO') }}
                </ng-template>      
                    </p-column>
            <p-column header="Solicitud" field="order" 
                      [sortable]="true" [style]="{width:'20px'}">
                    </p-column>
            <p-column header="Descripción" field="description" 
                      [sortable]="true" [style]="{width:'45px'}">
                    </p-column>
            <p-column header="Nombre del Cliente" field="customer" [sortable]="true" 
                      [style]="{width:'45px'}">
                    </p-column>
            <p-column header="Oficina" field="officce" 
                      [sortable]="true" [style]="{width:'45px'}">
                    </p-column>
            <p-column header="Fecha de Activación" field="activationDate" 
                      [sortable]="true" [style]="{width:'20px'}">
                <ng-template let-sale="rowData" let-in="rowIndex" pTemplate type="body">
                    {{ formatDateReport(sale.activationDate) }}
                </ng-template>      
                    </p-column>
            <p-column header="Estado" field="status" 
                      [sortable]="true" [style]="{width:'20px'}">
                    </p-column>

            <ng-template let-sale pTemplate="rowexpansion">
              <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-3" style="text-align:center">
                      </div>
                      <div class="ui-grid-col-9">
                          <div class="ui-grid ui-grid-responsive ui-grid-pad">
                              <div class="ui-grid-row">
                                  <div class="ui-grid-col-2 label">Número Identificación: </div>
                                  <div class="ui-grid-col-10">{{sale.customerId}}</div>
                              </div>
                              <div class="ui-grid-row">
                                <div class="ui-grid-col-2 label">Código Oficina: </div>
                                <div class="ui-grid-col-10">{{sale.officceId}}</div>
                              </div>
                              <div class="ui-grid-row">
                                  <div class="ui-grid-col-2 label">Forma Pago: </div>
                                  <div class="ui-grid-col-10">{{sale.paymentType}}</div>
                              </div>
                              <div class="ui-grid-row">
                                  <div class="ui-grid-col-2 label">Institución Financiera: </div>
                                  <div class="ui-grid-col-10">{{sale.financialInstitution}}</div>
                              </div>
                              <div class="ui-grid-row">
                                  <div class="ui-grid-col-2 label">Fecha Reporte: </div>
                                  <div class="ui-grid-col-10">{{sale.loggedDate}}</div>
                              </div>
                              <div class="ui-grid-row">
                                  <div class="ui-grid-col-2 label">Motivo: </div>
                                  <div class="ui-grid-col-10">{{sale.reason}}</div>
                              </div>
                              <div class="ui-grid-row">
                                  <div class="ui-grid-col-2 label">Código Lote: </div>
                                  <div class="ui-grid-col-10">{{sale.lotId}}</div>
                              </div>                            
                          </div>
                      </div>
                  </div>
              </div>
          </ng-template>       
    </p-dataTable> 
  </div>

  <div *ngIf="enableSaleCreation" class="row">
    <div class="col-md-12 text-right">
      <button (click)="onSelectionEnableAll()"
              class="btn btn-outline-danger"
              type="button" name="button">
        Habilitar
      </button>
      <button (click)="openModal()"
          class="btn btn-outline-danger"
          type="button" name="button">
        Generar Lote
      </button>
    </div>
  </div>

  
   <div class="backdrop" [ngStyle]="{'display':display}"></div>
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    
    <div class="modal-dialog" role="document">  
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmar Generación Lote</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>        
        </div>
  
        <div class="modal-body">
          <p>¿Está seguro que desea Crear un Lote?</p>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="generarLote()" >Aceptar</button>
          <button type="button" class="btn btn-danger" (click)="onCloseHandled()" >Salir</button>
        </div>
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog --> 
  </div> <!-- /.modal !-->
  

  <div class="backok" [ngStyle]="{'display':displayOK}"></div>
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayOK}">
    <div class="modal-dialog" role="document">
  
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Lotización - Éxito</h4>
           <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>        
        </div>
        <div class="modal-body">
          Procesadas:  <p> {{ mdSalesLenght }} órdenes</p>
          Código Lote: <p> {{ lotSequence }} </p>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="onCloseHandledOK()" >Aceptar</button> 
        </div>
     </div>  <!-- /.modal-content -->
  
    </div>  <!-- /.modal-dialog -->
   </div>  <!-- /.modal !-->



<!--<div class="row">
    <h3>Reporte de Ventas</h3>
    <div class="col-md-12 text-right">
        <div class="col-md-12 text-right">
            PDF
            <button (click)="downloadPDF()">
                  <i class="fa fa-file-pdf-o" 
                    style="font-size:38px;color:red">
                  </i>    
            </button>
            <span></span>
            EXCEL
            <button (click)="exportToExcel()">
                <i class="fa fa-file-excel-o" 
                   style="font-size:38px;color:red">
                 </i>
           </button>
        </div>
    </div>
</div>

  <div class="table-responsive" id="tablesale">
      <p>{{v_records}} registros</p>
      <div class="table-wrapper-scroll-y">
          <table class="table table-hover">
            <thead class="bg-danger">
              <tr>
                  <th class="col-xs-1">#</th>
                  <th class="col-xs-1">
                    Todos
                    <br>
                      <input type="checkbox" name="checkAll" 
                              [(ngModel)]="radioActAll"
                              [checked]="tempi"
                              [disabled]="checkDis" 
                              (change)="onSelectionMarkAll()" />
                  </th>
                  <th class="col-lg-5">Número Orden</th>                  
                  <th class="col-lg-5">Producto</th>
                  <th class="col-lg-5">Nombre Cliente</th>
                  <th class="col-lg-5">Ced. #</th>
                  <th class="col-lg-5">F. Act.</th>
                  <th class="col-lg-5">Forma Pago</th>
                  <th class="col-lg-5">Institucion Financiera</th>
                  <th class="col-lg-5">F. Rep.</th>
                  <th class="col-lg-5">Cod. Ofic</th>
                  <th class="col-lg-5">Nombre Oficina</th>
                  <th class="col-lg-5">Estado</th>
                  <th class="col-lg-5">Motivo</th>
                  <th class="col-xs-1">Número Lote</th>
              </tr>
            </thead>
      
            <tbody>
              <tr *ngFor="let venta of heroes; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>
                      <input type="checkbox" name="i" [(ngModel)]="radioAct2[i]"
                              [value]="radioAct"
                              [checked]="checkSales[i]"
                              [disabled]="enableSales[i]" 
                              (change)="onSelectionChange(venta,i)" />      
                  </td>
                  <td>{{ venta.order }}</td>                  
                  <td>{{ venta.description }}</td>
                  <td>{{ venta.customer }}</td>
                  <td>{{ venta.customerId }}</td>
                  <td>{{ venta.activationDate }}</td>
                  <td>{{ venta.paymentType }}</td>
                  <td>{{ venta.financialInstitution }}</td>
                  <td>{{ venta.loggedDate }}</td>
                  <td>{{ venta.officceId }}</td>
                  <td>{{ venta.officce }}</td>
                  <td>{{ venta.status }}</td>
                  <td>{{ venta.reason }}</td>
                  <td>{{ venta.lotId }}</td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="(heroes).length === 0 && !loading"
              class="alert alert-info" role="alert">
            <strong>No hay</strong> registros que mostrar
          </div>

          <div *ngIf="loading"
                class="alert alert-warning" role="alert">
            <strong>Cargando...</strong> por favor espere
          </div>
    
        </div>

  </div>
  
  <div class="row">
      <div class="col-md-12 text-right">


        <h3>Bienvenido {{ loggedUsername }}</h3>
        <button (click)="showAlert()"
            class="btn btn-outline-primary"
            type="button" name="button">
          Dialog
        </button> 



        <button (click)="onSelectionEnableAll()"
                class="btn btn-outline-danger"
                type="button" name="button">
          Habilitar
        </button>
        <button (click)="openModal()"
            class="btn btn-outline-danger"
            type="button" name="button">
          Generar Lote
        </button>    
        <button (click)="logout()"
                class="btn btn-outline-danger"
                type="button" name="button">
          Salir
        </button>
      </div>
  </div> -->


 <!-- <div class="backdrop" [ngStyle]="{'display':display}"></div>

  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
  
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmar Generación Lote</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>        
        </div>
  
        <div class="modal-body">
          <p>¿Está seguro que desea Crear un Lote?</p>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="generarLote()" >Aceptar</button>
          <button type="button" class="btn btn-danger" (click)="onCloseHandled()" >Salir</button>
        </div>
      </div> /.modal-content 
  
    </div> /.modal-dialog 
  </div> /.modal -->
  
  
 <!-- <div class="backok" [ngStyle]="{'display':displayOK}"></div>
  
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayOK}">
    <div class="modal-dialog" role="document">
  
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Lotización - Éxito</h4>
           <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>        
       
       
       
       
       
        </div>
  
        <div class="modal-body">
          Procesadas:  <p> {{ mdSalesLenght }} órdenes</p>
          Código Lote: <p> {{ lotSequence }} </p>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="onCloseHandledOK()" >Aceptar</button>
          <button type="button" class="btn btn-danger" (click)="onCloseHandled()" >Salir</button> 
        </div> -->
    <!--  </div>  /.modal-content -->
  
  <!--  </div>  /.modal-dialog -->
  <!-- </div>  /.modal !-->