<div class="row">
  <div class="col-md-1 text-left">
    <button (click)="browseComission()"
            class="btn btn-outline-danger"
            type="button" name="button">
      Buscar
    </button>
  </div>
  <div class="col-md-11 text-right">     
    <button (click)="logout()"
            class="btn btn-outline-danger"
            type="button" name="button">
      Salir
    </button>
  </div>  
</div>
<br>

<div class="row animated fadeIn fast">
<div class="col-md-4">

  <form #forma="ngForm">

    <div class="form-group">
      <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Canal</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01"
              [(ngModel)]="selectedChannel" name="selectedC">
        <option *ngFor="let c of channels" 
                [ngValue]="c">{{c.description}}</option>
      </select>                
    </div>

    <div class="form-group">
      <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect02">Vendedor</label>
      </div>
      <select class="custom-select" id="inputGroupSelect02"
              [(ngModel)]="selectedSeller" name="selectedSe">
        <option *ngFor="let s of sellers" 
                [ngValue]="s">{{s.sellerName}}</option>
      </select>    
    </div>

    <div class="form-group">
      <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect03">Penalidad</label>
      </div>
      <select class="custom-select" id="inputGroupSelect03"
              [(ngModel)]="selectedPenalty" name="selectedPe">
        <option *ngFor="let p of penalties" 
                [ngValue]="p">{{p.description}}</option>
      </select>    
    </div>

    <div class="form-group">
        <label>Fecha Activacion Inicio</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp1" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
    </div>

    <div class="form-group">
        <label>Fecha Activacion Fin</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp2" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
          </div>
        </div>
    </div>
    <!--<div class="form-group">
      <button [disabled]="!forma.valid"
              type="submit" class="btn btn-outline-primary">
        Buscar
      </button>
            <label for="inputState">Vendedor</label>
      <select [(ngModel)]="selectedSeller" name="selectedSe">
          <option *ngFor="let s of sellers" 
          [ngValue]="s">{{s.sellerName}}</option>
      </select>
            <label for="inputState">Penalidad</label>
      <select [(ngModel)]="selectedPenalty" name="selectedPe">
          <option *ngFor="let p of penalties" 
          [ngValue]="p">{{p.description}}</option>
      </select>
    </div>-->
  </form>
</div>
</div>
