h2{
  background-color:#FA5858;
  color: #FFFFFF;
  height: 40px;
}

body{
    width: 100%;
}



input.example-right-align {
  -moz-appearance: textfield;
}

button{
  background-color:#EC7063;
  color: #FFFFFF;

}

#delete{
  background-color:#EC7063;
  color: #FFFFFF;
margin-left:7%;
}

mat-paginator {
  width: 100%;
  margin: auto;
  background-color: #FA5858;
  color: #FFFFFF;
}

th{
  background-color: #FA5858;
  color: #FFFFFF;
}

#buscar{
  width: 25%;
  color: #FA5858;
   margin-left:58.5% ;
}

/
.mat-form-field {
  font-size: 75%;
  width: 100%;
  color: #FA5858;
}
input{
  color: #FA5858;
}

table {
  width: 100%;
  margin: auto;
  border: #FA5858 1px solid;
}

td, th {
  width: 10%;
  font-size: 75%;
}
