
<br/>

<h2 align="center">OPCIONES DE USUARIOS </h2>
<hr>


  <button mat-button id="delete" (click)="openDialogcreate()" mat-button matTooltip ="ASIGANAR OPCION A USUARIO" ><i class="material-icons">add_to_queue</i></button>

  <mat-form-field appearance="outline" id="buscar">
    <mat-label>BUSCAR VINLUCACIÓN</mat-label>
      <input matInput   (keyup)="applyFilter($event.target.value)" placeholder="BUSCAR"><mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

<table mat-table [dataSource]=usersopclist class="mat-elevation-z8">


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> PERFIL</th>
    <td mat-cell *matCellDef="let element"> {{element.profileName}} </td>
  </ng-container>


  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> USUARIO </th>
    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> OPCION </th>
    <td mat-cell *matCellDef="let element"> {{element.optionName}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> TIPO DE OPCIÓN </th>
    <td mat-cell *matCellDef="let element"> {{element.optionType}} </td>
  </ng-container>

  <ng-container matColumnDef="opcestado">
    <th mat-header-cell *matHeaderCellDef> ESTADO DE LA OPCIÓN </th>
    <td mat-cell *matCellDef="let element"> {{element.optionStatus}} </td>
  </ng-container>

  <ng-container matColumnDef="modu">
    <th mat-header-cell *matHeaderCellDef> MODULO </th>
    <td mat-cell *matCellDef="let element"> {{element.moduleName}} </td>
  </ng-container>

  <ng-container matColumnDef="modestado">
    <th mat-header-cell *matHeaderCellDef> ESTADO DEL MODULO </th>
    <td mat-cell *matCellDef="let element"> {{element.moduleStatus}} </td>
  </ng-container>


  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef > EDITAR </th>
    <td mat-cell *matCellDef="let element"> <button mat-button  (click)="openDialogUpdate(element)" ><i class="material-icons">edit</i></button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 100, 500]" showFirstLastButtons></mat-paginator>
