<form (ngSubmit)="Nuevoopc(formanvopc)" #formanvopc="ngForm" novalidate>
  <h2 align="center">NUEVA OPCIÓN </h2>
  <br>
<div>
  <div class="example-container">
  <mat-form-field appearance="outline">
  <mat-label>MODULO</mat-label>
  <mat-select placeholder="MODULO"
   name="idModule"
   ngModel
   #idModule=ngModel
   required>
    <mat-option value="" disabled selected>None</mat-option>
    <mat-option *ngFor="let module of modules" [value]="module.moduleId">{{module.moduleName}}</mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>TIPO DE OPCION</mat-label>
  <mat-select matNativeControl placeholder="TIPO DE OPCION"
   name="nombretipo"
    ngModel
   #nombretipo=ngModel
   required>
    <mat-option value="" disabled selected>None</mat-option>
    <mat-option *ngFor="let nombre of opciones" [value]="nombre.value">{{nombre.viewValue}}</mat-option>
  </mat-select>
  </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label>NOMBRE DE LA OPCIÓN</mat-label>
    <input matInput placeholder="NOMBRE DE LA OPCIÓN"
    [(ngModel)]="value"
     name="nombre"
     ngModel
     minlength="5"
     required
     #nombre="ngModel"
     [ngClass]="{'is-invalid': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched}">
    <mat-icon matSuffix>build</mat-icon>
    <div class="invalid-feedback" *ngIf="nombre.errors?.required">
    Este campo es requerido
    </div>
    <div class="invalid-feedback" *ngIf="nombre.errors?.minlength">
    Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres
    </div>
    </mat-form-field>

</div>
<br>
<br>
<br>

<button type="submit" id="guardar" class="btn btn-outline-primary" data-toggle="modal" [disabled]="!formanvopc.valid" mat-button matTooltip ="GUARDAR NUEVA OPCION"
><mat-icon>save</mat-icon>
</button>

<button id="delete" type="reset" mat-dialog-close class="btn btn-outline-primary" mat-button matTooltip ="SALIR"
><mat-icon>exit_to_app</mat-icon>
</button>

</div>
</form>
