


<form (ngSubmit)="Nuevousu(formanvusu)" #formanvusu="ngForm" novalidate>
  <h2 align="center">NUEVO USUARIO </h2>
  <br>
  <div>
  <div class="example-container">

  <mat-form-field appearance="outline">
  <mat-label>NICKNAME DE USUARIO</mat-label>
  <input matInput placeholder="NICKNAME DEL USUARIO"
  name="usernombre"
  ngModel
 maxlength="25"
pattern="[A-Za-z0-9]+$"
 minlength="4"
 required
  #usernombre="ngModel">
   <mat-error *ngIf="usernombre.hasError('minlength')">
  <strong>Minimo 4 caracteres</strong>
  </mat-error>
  <mat-error *ngIf="usernombre.hasError('required')">
  <strong>El nickname es requerido</strong>
  </mat-error>
 <mat-error *ngIf="usernombre.hasError('pattern')">
  <strong>Solo valida letras y números</strong>
 </mat-error>
  <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>



         <mat-form-field  appearance="outline">
           <mat-label>CONTRASEÑA</mat-label>
    <input matInput placeholder="INGRESE CONTRASEÑA" [type]="hide ? 'password' : 'text'"
       name="passwusu"
       ngModel
       #passwusu="ngModel"
      minlength="8"
      maxlength="16"
        pattern="[A-Z]+[A-Za-z0-9]+[ÁáÀàÉéÈèÍíÌìÓóÒòÚúÙùÑñüÜ@#\$%\^&\*\+\?_~\/]$"
       mat-button matTooltip ="Debe empezar con una letra mayuscula y tener un caracter especial al final"
      required>
      <mat-error *ngIf="passwusu.hasError('required')">
     <strong>La contraseña es requerida</strong>
    </mat-error>
    <mat-error *ngIf="passwusu.hasError('minlength')">
   <strong>minimo 8 caracteres</strong>
  </mat-error>
  <mat-error *ngIf="passwusu.hasError('pattern')">
 <strong>Debe empezar con una letra mayuscula y tener un caracter especial al final</strong>
</mat-error>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <br>

  <mat-form-field appearance="outline">
  <mat-label>NOMBRE DEL USUARIO</mat-label>
  <input matInput placeholder="NOMBRE DEL USUARIO"
   name="nombre"
   ngModel
   maxlength="25"
   minlength="3"
   required
    pattern="[A-Za-z]+$"
   #nombre="ngModel">
  <mat-icon matSuffix>person</mat-icon>
  <mat-error *ngIf="nombre.hasError('minlength')">
 <strong>Minimo 3 caracteres</strong>
</mat-error>
<mat-error *ngIf="nombre.hasError('required')">
<strong>El nombre es requerido</strong>
</mat-error>
 <mat-error *ngIf="nombre.hasError('pattern')">
  <strong>Solo valida letras</strong>
 </mat-error>
     </mat-form-field>


     <mat-form-field appearance="outline">
     <mat-label>APELLIDO DEL USUARIO</mat-label>
     <input matInput placeholder="APELLIDO DEL USUARIO"
      name="apellido"
      ngModel
      maxlength="15"
      minlength="3"
       pattern="[A-Za-z]+$"
      required
      #apellido="ngModel">
      <mat-error *ngIf="apellido.hasError('minlength')">
     <strong>Minimo 3 caracteres</strong>
    </mat-error>
    <mat-error *ngIf="apellido.hasError('required')">
    <strong>El apellido es requerido</strong>
    </mat-error>
 <mat-error *ngIf="apellido.hasError('pattern')">
  <strong>Solo valida letras</strong>
 </mat-error>
     <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>


        <mat-form-field appearance="outline">
        <mat-label>TELEFONO DEL USUARIO</mat-label>
        <input matInput placeholder="TELEFONO DEL USUARIO"
         name="cell"
         type="text"
         maxlength="15"
         minlength="10"
         pattern="[0-9]+$"
         ngModel
         required
         #cell="ngModel">
         <mat-error *ngIf="cell.hasError('required')">
         <strong>El número de telefono es requerido</strong>
         </mat-error>
         <mat-error *ngIf="cell.hasError('minlength')">
         <strong>Minimo 10 digitos</strong>
         </mat-error>
         <mat-error *ngIf="cell.hasError('pattern')">
         <strong>Solo valida digitos</strong>
         </mat-error>
        <mat-icon matSuffix>local_phone</mat-icon>

           </mat-form-field>
<br>


         <mat-form-field appearance="outline">
         <mat-label>EMAIL</mat-label>
         <input matInput placeholder="Nombre del modulo"
          type="email"
          name="emailusu"
          pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$"
          ngModel
          required
          #emailusu="ngModel">
          <mat-error *ngIf="emailusu.hasError('pattern')">
          <strong>formato de email invalido</strong>
          </mat-error>
          <mat-error *ngIf="emailusu.hasError('required')">
          <strong>El email es requerido</strong>
          </mat-error>
         <mat-icon matSuffix>email</mat-icon>
         </mat-form-field>


         <mat-form-field appearance="outline">
         <mat-label>PERFIL</mat-label>
         <mat-select placeholder="ID"
         type="number"
         name="idperfil"
         ngModel
         #idperfil="ngModel"
         required>
         <mat-option>None</mat-option>
         <mat-option *ngFor="let usue of users" [value]="usue.id">{{usue.name}}</mat-option>
         </mat-select>
         <mat-error *ngIf="idperfil.hasError('required')">
         <strong>El perfil es requerido</strong>
         </mat-error>
         </mat-form-field>

        </div>

            <button type="submit" id="guardar" class="btn btn-outline-primary" [disabled]="!formanvusu.valid" mat-button matTooltip =" crear usuario"
             ><mat-icon>save</mat-icon>
             </button>

             <button id="delete" type="reset" mat-dialog-close class="btn btn-outline-primary" mat-button matTooltip ="SALIR"
             ><mat-icon>exit_to_app</mat-icon>
             </button>


</div>

</form>
