
  <div class="row">
      <div class="col-xl-2 col-lg-6"></div>
      <div class="col-xl-3 col-lg-6">
          <app-stat [bgClass]="'primary'" 
                    [icon]="'fa-comments'" 
                    [count]="regularizedLenCard" 
                    [label]="regularizedCard" ></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
          <app-stat [bgClass]="'warning'" 
                    [icon]="'fa-tasks'" 
                    [count]="refusedLenCard" 
                    [label]="refusedCard" ></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
          <app-stat [bgClass]="'success'" 
                    [icon]="'fa-shopping-cart'" 
                    [count]="pendingLenCard" 
                    [label]="pendingCard" ></app-stat>
      </div>
      <div class="col-xl-1 col-lg-6"></div>
    <!--  <div class="col-xl-3 col-lg-6">
          <app-stat [bgClass]="'danger'" 
                    [icon]="'fa-support'" 
                    [count]="13" 
                    [label]="'New Tickets!'"></app-stat>
      </div> -->
  </div>
  <br>

  <div class="row">
    <h1> </h1>
  </div>

<div class="row">

  <div class="col col-md-3">

  </div>

  <div class="col col-md-6">
    <div class="card">    
        <div class="card-header">
            Distribución mensual de procesos: {{ monthPieData }}
        </div>
        <div class="card-body">
          <!--  <canvas baseChart height="150px"   mb-3
            (chartHover)="chartHovered($event)" 
            (chartClick)="chartClicked($event)">
            </canvas>-->
            <canvas
            baseChart
            [chartType]="'pie'"
            [datasets]="pieChartData"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [legend]="true"
            [colors]="pieChartColor"
            (chartClick)="onChartClick($event)">
            </canvas>
            
        </div>
    </div>
  </div>

</div>
