<div class="card">
    <!--<img class="card-img-top" src="../../../assets/img/role.png" alt="Card image cap"> -->
    <div class="card-body">
        <div class="container">
            <div class="row">
              <div class="col-lg-4 text-right">
                  <img class="card-img-top" src="../../../assets/img/role.png" alt="Card image cap">
                  <a routerLink="/usersdata" routerLinkActive="active" class="card-link">SUBIR IMAGEN</a>
              </div>
              <div class="col-lg-1 text-right">
              </div>
              <div class="col-lg-7">

                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ userName }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-3">Nombres:</div>
                          <div class="col-md-9">{{ profileData.firstname }}</div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                           <div class="col-md-3">Apellidos:</div>
                           <div class="col-md-9">{{ profileData.lastname }}</div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                           <div class="col-md-3">Teléfono:</div>
                           <div class="col-md-9">{{ profileData.phonenumber }}</div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                           <div class="col-md-3">E-mail:</div>
                           <div class="col-md-9">{{ profileData.email }}</div>
                        </div>
                      </li>
                    </ul>
                    <div class="card-body  text-right">
                        <a routerLink="/usersdata" routerLinkActive="active" class="card-link">EDITAR DATOS</a>
                        <button  mat-button matTooltip ="EDITAR DATOS" mat-button (click)="openDialogUpdate3(profileData)" ><i class="material-icons">contact_phone</i></button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      <!-- <h5 class="card-title">{{ userName }}</h5> -->
    </div>
  <!--  <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre:     {{ profileData.firstname }}</li>
      <li class="list-group-item">Apellido:   {{ profileData.lastname }}</li>
      <li class="list-group-item">Telefono:   {{ profileData.phonenumber }} </li>
      <li class="list-group-item">Email:      {{ profileData.email }}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">EDITAR DATOS</a>
    </div> -->
</div>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Contraseña actual</ng-template>
      <mat-form-field>
        <input matInput placeholder="Ingrese contraseña" formControlName="firstCtrl">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Contraseña nueva</ng-template>
      <mat-form-field>
        <input matInput placeholder="Ingrese contraseña" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button *ngIf="inputEnabledS" mat-button matStepperNext>Next</button>
        <button *ngIf="!inputEnabledS" mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Confirmar contraseña</ng-template>
        <mat-form-field>
          <input matInput placeholder="Ingrese contraseña" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button *ngIf="inputEnabledT" mat-button matStepperNext>Next</button>
          <button *ngIf="!inputEnabledT" mat-button (click)="stepper.reset()">Reset</button>

          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </form>
    <!-- <ng-template matStepLabel>Done</ng-template>
    You are now done. -->
  </mat-step>
</mat-horizontal-stepper>

<div>
  <button (click)="mostrarConsola()">MOSTRAR INPUTS</button>
</div>