.card, .card-body, .container {
    font-size: 95%;
    font-family: Century Gothic, sans-serif;
 }
 h5{
    font-weight: bold;
    color:#696969;
 }
 i{
    color: #FDFEFE  ;
 }

 #editor
 {
   background-color: #17202A;
  }
