<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/img/role.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ userName }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre:     {{ profileData.firstname }}</li>
      <li class="list-group-item">Apellido:   {{ profileData.lastname }}</li>
      <li class="list-group-item">Telefono:   {{ profileData.phonenumber }} </li>
      <li class="list-group-item">Email:      {{ profileData.email }}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">EDITAR DATOS</a>
    </div>
</div>
  
