
<form (ngSubmit)="editarper(formaedper)" #formaedper="ngForm" novalidate>
  <h2 align="center">EDITAR PERFIL </h2>
  <br>
  <div>

    <div class="example-container">

      <mat-form-field appearance="outline">
      <mat-label>PERFIL</mat-label>
       <input matInput placeholder="Id del Perfil" disabled=true
       name="id"
       ngModel="{{data.id}}"
       #id="ngModel">
       <mat-icon matSuffix>dehaze</mat-icon>
      </mat-form-field>



      <mat-form-field appearance="outline">
      <mat-label>NOMBRE DEL PERFIL</mat-label>
      <input matInput placeholder="Nombre del perfil"
       name="nombre"
       ngModel="{{data.name}}"
       minlength="3"
       maxlength="25"
       required
       #nombre="ngModel">
       <mat-error *ngIf="nombre.hasError('minlength')">
      <strong>Minimo 3 caracteres</strong>
     </mat-error>
     <mat-error *ngIf="nombre.hasError('required')">
    <strong>El nombre es requerido</strong>
   </mat-error>
      <mat-icon matSuffix>person</mat-icon>
</mat-form-field>



    </div>

    <button type="submit" id="guardar" class="btn btn-outline-primary" [disabled]="!formaedper.valid" mat-button matTooltip ="EDITAR PERFIL"
    ><mat-icon>create</mat-icon>
    </button>

    <button id="delete" type="reset" mat-dialog-close class="btn btn-outline-primary" mat-button matTooltip ="SALIR"
    ><mat-icon>exit_to_app</mat-icon>
    </button>



  </div>
</form>
