<form (ngSubmit)="estado(formaestado)" #formaestado="ngForm" novalidate>
  <h2 align="center">ACTIVIAR / DESACTIVAR </h2>
  <br>
<div>

    <div class="example-container">

      <mat-form-field appearance="outline">
      <mat-label>USUARIO</mat-label>
       <input matInput placeholder="Id del Usuario" disabled=true
       name="username"
       ngModel="{{data.username}}"
       minlength=""
       #username="ngModel">
       <mat-icon matSuffix>dehaze</mat-icon>
      </mat-form-field>



      <mat-radio-group type="radio"   name="enabled"   ngModel="{{data.enabled}}"  #enabled="ngModel" >
            <mat-radio-button     value="true"  > ACTIVO </mat-radio-button>
            <mat-radio-button     value="false"  > INACTIVO </mat-radio-button>
          </mat-radio-group>

  </div>
            <button type="submit" id="guardar" class="btn btn-outline-primary" [disabled]="!formaestado.valid" mat-button matTooltip ="editar usuario"
             ><mat-icon>create</mat-icon>
             </button>

             <button id="delete" type="reset" mat-dialog-close class="btn btn-outline-primary" mat-button matTooltip ="SALIR"
             ><mat-icon>exit_to_app</mat-icon>
             </button>


</div>
</form>
