<form (ngSubmit)="Nuevouserol(formanvuserol)" #formanvuserol="ngForm" novalidate>
  <h2 align="center">NUEVO VINCULO </h2>
  <br>
<div>
  <mat-form-field appearance="outline">
  <mat-label> USUARIO</mat-label>
  <mat-select placeholder="USUARIO"
  name="userId"
  ngModel
  #userId="ngModel"
  required>
<mat-option value="" disabled selected>None</mat-option>
  <mat-option *ngFor="let use of usersop" [value]="use.id">{{use.username}}</mat-option>
  </mat-select>
  <mat-error *ngIf="userId.hasError('required')">
  <strong>El usuario es requerido</strong>
  </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>ROL</mat-label>
  <mat-select  placeholder="ROL"
   name="profileId"
    ngModel
   #profileId=ngModel
   required>
    <mat-option value="" disabled selected>None</mat-option>
    <mat-option *ngFor="let role of usersss" [value]="role.id">{{role.name}}</mat-option>
  </mat-select>
  <mat-error *ngIf="profileId.hasError('required')">
el rol es <strong>obligario</strong>
</mat-error>
  </mat-form-field>

</div>
<br>
<br>
<br>

<button type="submit" id="guardar" class="btn btn-outline-primary" data-toggle="modal" [disabled]="!formanvuserol.valid" mat-button matTooltip ="GUARDAR NUEVO VINCULO"
><mat-icon>save</mat-icon>
</button>

<button id="delete" type="reset" mat-dialog-close class="btn btn-outline-primary" mat-button matTooltip ="SALIR"
><mat-icon>exit_to_app</mat-icon>
</button>


</form>
