<br/>

<h2 align="center">ROL-MÓDULO </h2>

<hr>

  <button mat-button id="delete" (click)="openDialogcreate()" mat-button matTooltip ="CREAR NUEVO VINCULO" ><i class="material-icons">folder_shared</i></button>

<mat-form-field appearance="outline" id="buscar">
  <mat-label>BUSCAR VINCULO</mat-label>
  <input matInput   (keyup)="applyFilter($event.target.value)" placeholder="BUSCAR" maxlength="25">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<table mat-table [dataSource]="rolmod" matSort>
  <ng-container matColumnDef="IDUSUARIO">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID ROL </th>
    <td mat-cell *matCellDef="let element"> {{element.authorityId}} </td>
  </ng-container>


  <ng-container matColumnDef="USUARIO">
    <th mat-header-cell *matHeaderCellDef> ROL </th>
    <td mat-cell *matCellDef="let element"> {{element.authorityName}} </td>
  </ng-container>

  <ng-container matColumnDef="IDROL">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID MODULÓ </th>
    <td mat-cell *matCellDef="let element"> {{element.moduleId}} </td>
  </ng-container>


  <ng-container matColumnDef="ROL">
    <th mat-header-cell *matHeaderCellDef> MODULÓ </th>
    <td mat-cell *matCellDef="let element"> {{element.moduleName}} </td>
  </ng-container>


  <ng-container matColumnDef="DELETE">
    <th mat-header-cell *matHeaderCellDef > EDITAR </th>
    <td mat-cell *matCellDef="let element"> <button mat-button (click)="openDialogUpdate(element)" mat-button matTooltip ="ELIMINAR ESTE VINCULO" ><i class="material-icons">delete</i></button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 500]" showFirstLastButtons></mat-paginator>
