<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon  class="example-tab-icon">work</mat-icon>
      MODULOS
    </ng-template>
<app-rdmodulos></app-rdmodulos>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">build</mat-icon>
      OPCIONES
    </ng-template>
  <app-rdopciones></app-rdopciones>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">assignment_ind</mat-icon>
      PERFILES
    </ng-template>

      <app-rdperfiles></app-rdperfiles>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_circle</mat-icon>
      USUARIOS
    </ng-template>

    <app-rdusuarios></app-rdusuarios>
  </mat-tab>

  <mat-tab>

    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">important_devices</mat-icon>
      OPCIONES DE USUARIOS
    </ng-template>

    <app-rdusersopc></app-rdusersopc>
  </mat-tab>
</mat-tab-group>
