
<form (ngSubmit)="editarusuario(formaedusua)" #formaedusua="ngForm" novalidate>
  <h2 align="center">CAMBIAR CONTRASEÑA </h2>
  <br>
<div>

    <div class="example-container">

      <mat-form-field appearance="outline">
      <mat-label>USUARIO</mat-label>
       <input matInput placeholder="Id del Usuario" disabled=true

       name="username"
       ngModel="{{data.username}}"
       minlength=""
       #username="ngModel">
       <mat-icon matSuffix>dehaze</mat-icon>
      </mat-form-field>

         <mat-form-field  appearance="outline">
           <mat-label>CONTRASEÑA</mat-label>
    <input matInput placeholder="INGRESE CONTRASEÑA" [type]="hide ? 'password' : 'text'"
       name="passwusu"
       ngModel="{{data.password}}"
       #passwusu="ngModel"
      minlength="8"
      maxlength="16"
      pattern="[A-Z]+[A-Za-z0-9]+[ÁáÀàÉéÈèÍíÌìÓóÒòÚúÙùÑñüÜ@#\$%\^&\*\+\?_~\/]$"
     mat-button matTooltip ="Debe empezar con una letra mayuscula y tener un caracter especial al final"
      required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>PERFIL</mat-label>
   <input matInput placeholder="Perfil del Usuario" disabled=true
   name="username"
   ngModel="{{data.authorities}}"
   minlength=""
   #username="ngModel">
   <mat-icon matSuffix>dehaze</mat-icon>
  </mat-form-field>

  </div>
            <button type="submit" id="guardar" class="btn btn-outline-primary" [disabled]="!formaedusua.valid" mat-button matTooltip ="editar usuario"
             ><mat-icon>create</mat-icon>
             </button>

             <button id="delete" type="reset" mat-dialog-close class="btn btn-outline-primary" mat-button matTooltip ="SALIR"
             ><mat-icon>exit_to_app</mat-icon>
             </button>


</div>
</form>
